*  {
    font-family: Helvetica,Arial,sans-serif;
}
div.timeline-event-content {
    overflow: visible;
}
div.timelineFrame {
    height: 170px;
}
div.timelineFrame > .user-container {
    width: 5%;
    float: left;
    margin: 3em 2.5%;
    text-align: center;
}
div.timelineFrame > .timeline {
    height: 100%;
    width: 90%;
    margin-left: 10%;
}
img.icon {
    height: 50px;
    display:block;
    margin: auto;
}
img.small-icon {
    width:16px;
    display: inline;
}
.entity {
    background-color: transparent;
    display:inline;
    cursor:pointer;
}

.entity .labelable {
    max-width:50px;
}

.labelable label {
    text-align: left;
    border: 0 none;
    bottom: -1.5em;
    display: none;
    font-family: sans;
    font-size: 70%;
    left: 0;
    position: absolute;
    z-index: 1000;
}
.labelable:hover label {
    display:block;
}
label.nolabel {
    font-style: italic;
    color: gray;
}
.user-container {
    text-align:center;
}
caption {
    display:block;
}
fieldset {
    border: 1px solid lightgray;
}
fieldset legend {
    font-size: 0.8em;
    color: gray;
}
.detailView {
}
.detailView ul  {
    margin: 0;
    padding-left: 1em;
}
.detailView ul li {
    list-style: none;
}
/*override timeline.css*/
div.timeline-groups-text {
    padding-left:0;
    padding-right:0;
    width:100px;
}

div#episodes {
    display: none;
    background-color: white;
    padding: 0.5em;
    border: 1px solid black;
    position:absolute;
}

div#episodes button {
    display: block;
    cursor: pointer;
}

div#episodes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#episodes li.episode {
    margin: 0.5em 0;
}

div#episodes h2 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.episode li {
    list-style-type: decimal;
    margin-left: 2em;
}

.episode li .timestamp {
    margin: 0;
    display: none;
    font-size: 0.7em;
    color: gray;
    display: none;
}
/*
.episode li .timestamp:hover {
    display: block;
}

.episode li:hover .timestamp {
    display: block;
}
*/


div#myEpisodes1 h1 {
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

#toggleEpisodes {
    float:left;
    width: 24px;
    height: 24px;
    margin: 3px;
}

/*
div#myEpisodes1:hover div#episodes {
    display: block;
    z-index: 1000;
}

div#episodes:hover {
*/
div#episodes {
    display: none;
    z-index: 1000;
}

div#episodes div.highlight {
    background-color: lightgreen;
}

div#episodes li.highlight h2 {
    font-weight: bold;
}

div#episodes li {
    cursor: pointer;
}


svg image {
    cursor: pointer;
}

li.episode ul li.highlight {
    font-weight: bold;
}

/* hide episode derivation */
div#episodes button#createFromHere {
    display: none;
}

/* hide versions */
div#episodes button#createNewVersion {
    display: none;
}

li.episode ul {
    display: none;
}

div#myToolbar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	/*z-index: 999;*/
}

div#myToolbar .toolbar-handle {
	position: absolute;
	top: 50%;
	cursor: pointer;
	height: 50px;
	width: 30px;
}

div.toolbarShown .toolbar-handle {
	background-image: url('../img/toolbar-handle-close.png');
	background-size: 30px 50px;
	background-repeat: no-repeat;
}

div.toolbarHidden .toolbar-handle {
	background-image: url('../img/toolbar-handle-open.png');
	background-size: 30px 50px;
	background-repeat: no-repeat;
}

div.toolbarShown {
	width: 350px;
}

div.toolbarHidden {
	width: 20px;
}

div#tabs {
	width: 330px;
	margin-left: 20px;
	height: 100%;
}

div.tags div.tag {
	display: inline-block;
	border: 2px solid gray;
	background-color: lightgray;
	padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin: 2px 0;
}

div.tags div.tag span.deleteTag {
	margin-left: 5px;
	color: gray;
	cursor: pointer;
}

div#tabs .results .resultSet .entity {
	display: block;
	height: 50px;
	margin: 2px;
}

div#tabs .results .resultSet .entity .labelable {
	max-width: 250px;
}

div#tabs .results .resultSet .entity .labelable img.icon {
	margin:0;
	display: inline-block;
}

div#tabs .results .resultSet label.withlabel {
	position: relative;
	top: -40px;
	left: 5px;
	display: inline;
}

div#tabs .importance .indicators .importanceLow {
	position: relative;
	left: -5px;
}

div#tabs .importance .indicators .importanceMedium {
	position: relative;
	left: 22%;
}

div#tabs .importance .indicators .importanceHigh {
	position: relative;
	left: 46%;
}

div#tabs .importance .indicators .importanceFavourite {
	position: relative;
	left: 70%;
}

div#tabs .thumbnail label {
	display: block;
}

div#tabs .thumbnail img {
	max-width: 250px;
	max-height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Solution from: http://www.karlhorky.com/2012/06/cross-browser-image-grayscale-with-css.html */
.used img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

form.loginForm {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 50%;
	text-align: center;
}

.tagcloud a {
	text-decoration: none;
}

.selectedUser span {
	cursor: pointer;
}

.shareBitsOnly {
	max-width: 250px;
}

ul.episodeListing {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul.episodeListing li {
    cursor: pointer;
}

ul.episodeListing .episodeLabel {
    display: inline-block;
    cursor: pointer;
}
