*  {
    font-family: Helvetica,Arial,sans-serif;
}
div.timeline-event-content {
    overflow: visible;
}
div.timelineFrame {
    height: 200px;
}
div.timelineFrame > .user-container {
    width: 5%;
    float: left;
    margin: 3em 2.5%;
    text-align: center;
}
div.timelineFrame > .timeline {
    height: 100%;
	width: 100%;
    /*width: 90%;
    margin-left: 10%;*/
}

div.timelineFrame > .timeline .timeline-cluster {
	z-index: 100;
	padding-bottom: 5px;
}

img.icon {
    height: 50px;
    display:block;
    margin: auto;
}
img.small-icon {
    width:16px;
    display: inline;
}
.entity {
    background-color: transparent;
    display:inline;
    cursor:pointer;
}

.entity .labelable {
    max-width:50px;
    overflow: hidden;
}

.entity:hover .labelable {
    overflow: visible;
}

.timeline-event .entity:hover .labelable .withlabel {
	position: relative;
	top: 10px;
	background-color: #fff;
	z-index: 999;
	display: inline-block;
}

.timeline-cluster .entity:hover .labelable .withlabel {
	top: 10px;
}

.labelable label, .labelable text {
    text-align: left;
    border: 0 none;
    display: block;
    font-family: sans;
    font-size: 85%;
    margin-top: 2px;
}

.timeline-event .labelable label {
	font-size: 65%;
}

label.nolabel {
    font-style: italic;
    color: gray;
}
.user-container {
    text-align:center;
}
caption {
    display:block;
}
fieldset {
    border: 1px solid lightgray;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
fieldset legend {
	width: auto;
	margin-bottom: 0;
	border-bottom: none;
    font-size: 0.8em;
    color: gray;
}
.detailView {
}
.detailView ul  {
    margin: 0;
    padding-left: 1em;
}
.detailView ul li {
    list-style: none;
}
/*override timeline.css*/
div.timeline-groups-text {
    padding-left:0;
    padding-right:0;
    width:100px;
}

div#episodes {
    display: none;
    background-color: white;
    padding: 0.5em;
    border: 1px solid black;
    position:absolute;
}

div#episodes button {
    cursor: pointer;
}

div#episodes .note {
    font-size: 0.6em;
    font-style: italic;
}

div#episodes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#episodes li.episode {
    margin: 0.5em 0;
}

div#episodes h2 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.episode li {
    list-style-type: decimal;
    margin-left: 2em;
}

.episode li .timestamp {
    margin: 0;
    display: none;
    font-size: 0.7em;
    color: gray;
    display: none;
}
/*
.episode li .timestamp:hover {
    display: block;
}

.episode li:hover .timestamp {
    display: block;
}
*/


div#myEpisodes1 h1 {
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

#toggleEpisodes {
    float:left;
    width: 24px;
    height: 24px;
    margin: 3px;
}

/*
div#myEpisodes1:hover div#episodes {
    display: block;
    z-index: 1000;
}

div#episodes:hover {
*/
div#episodes {
    display: none;
    z-index: 1000;
}

div#episodes div.highlight {
    background-color: lightgreen;
}

div#episodes li.highlight h2 {
    font-weight: bold;
}

div#episodes li {
    cursor: pointer;
}


svg image {
    cursor: pointer;
}

li.episode ul li.highlight {
    font-weight: bold;
}

/* hide episode derivation */
div#episodes button#createFromHere {
    display: none;
}

/* hide versions */
div#episodes button#createNewVersion {
    display: none;
}

li.episode ul {
    display: none;
}

div.cluster .entity, div.cluster .buttons {
    float: left;
}

div.cluster button {
    display:block;
    font-size:0.5em;
}

div#myToolbar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 999;
}

/* This is needed so that it would not be covered by toolbar*/
.ui-front {
	z-index: 1500;
}

div#myToolbar .toolbar-handle {
	position: absolute;
	top: 50%;
	cursor: pointer;
	height: 50px;
	width: 30px;
}

div#myToolbar.toolbarHidden .toolbar-handle span {
	position: relative;
	left: -15px;
}

div.toolbarShown {
	width: 350px;
}

div.toolbarHidden {
	width: 20px;
}

div#tabs {
	width: 330px;
	margin-left: 20px;
	height: 100%;
}

div#tabs.ui-widget {
	font-size: 14px;
}

div#tabs.ui-widget-content {
	overflow-y: auto;
}

div#tabs .ui-tabs-panel {
	padding: 0;
}

#tabs ul.ui-tabs-nav li {
	width: 25%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#tabs ul.ui-tabs-nav li a {
	width: 100%;
	text-align: center;
}

#tabs ul.ui-tabs-nav li.ui-state-default {
	background: #e7e7e7;
}

#tabs ul.ui-tabs-nav li.ui-tabs-active {
    background: #ffffff url(../lib/jquery/css/jquery-ui-layers-theme/images/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x;
}

div#tabs .results .resultSet {
	border: 1px solid rgb(221, 221, 221);
}

div#tabs .results .resultSet .entity {
	display: block;
	min-height: 50px;
	margin: 10px 10px 10px 10px;
}

div#tabs .results .resultSet .entity .labelable {
	max-width: 250px;
}

div#tabs .results .resultSet .entity .labelable img.icon {
	display: inline-block;
	max-width: 50px;
}

div#tabs .results .resultSet .entity .labelable label.withlabel {
	display: inline-block;
	min-height: 50px;
	width: 200px;
	vertical-align: top;
	padding-left: 5px;
	padding-top: 15px;
	word-wrap: break-word;
}

.singleRecommendation .entryIcon img {
	max-width: 50px;
	max-height: 50px;
}

.singleRecommendation .recommendationContent {
	display: none;
}

.singleRecommendation label.recommendationLabel {
	text-align: left;
    border: 0 none;
    display: block;
    font-family: sans;
    font-size: 50%;
    margin-top: 2px;
	max-width: 50px;
}

div#tabs .stream .resultSet {
	border: 1px solid rgb(221, 221, 221);
	max-height: 200px;
	overflow-y: auto;
}

div#tabs .stream .resultSet .singleEntry {
	padding: 10px;
	min-height: 50px;
	border-bottom: 1px solid rgb(221, 221, 221);
}

div#tabs .stream .resultSet .singleEntry .entryIcon {
	display: inline-block;
	vertical-align: top;
	font-size: 50px;
}

div#tabs .stream .resultSet .singleEntry .entryIcon img {
	max-width: 50px;
	max-height: 50px;
	vertical-align: top;
}

div#tabs .stream .resultSet .singleEntry .entryContent {
	display: inline-block;
	width: 180px;
	min-height: 70px;
	padding-left: 10px;
}

div#tabs .stream .resultSet .singleRecommendation label.recommendationLabel {
	display: none;
}

.streamActionOthers {
	color: #48a2c5;
}

.unreadMessage .messageIcon span {
	color: #f6a551;
	cursor: pointer;
}

.unreadMessage {
	background-color: #fef3e9;
}

div#tabs .importance .ui-slider-horizontal {
	height: 5px;
	background: #5ba74a;
	border: 1px solid #5ba74a;
}

div#tabs .importance .ui-slider-handle {
	height: 15px;
	width: 15px;
	background: #d79634;
	border: 1px solid #d79634;
}

div#tabs .importance .indicators {
	margin-top: 10px;
	font-size: 120%;
}

div#tabs .importance .indicators .importanceLow {
	position: relative;
	left: -5px;
}

div#tabs .importance .indicators .importanceMedium {
	position: relative;
	left: 28%;
}

div#tabs .importance .indicators .importanceHigh {
	position: relative;
	left: 55%;
}

div#tabs .importance .indicators .importanceFavourite {
	position: relative;
	left: 82%;
}

div#tabs .thumbnail {
	background: #eee;
}

div#tabs .thumbnail img {
	max-width: 250px;
	max-height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.tags div.tag {
	font-weight: normal;
	background-color: #2b4d23;
	color: #e9f4e7;
	margin-bottom: 2px;
}

div.tags div.tag span.deleteTag {
	cursor: pointer;
	font-size: 80%;
}

/* Solution from: http://www.karlhorky.com/2012/06/cross-browser-image-grayscale-with-css.html */
.used img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

form.loginForm {
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
	margin: auto;
	width: 250px;
}

.loginLogo {
    position: absolute;
	left: 0;
	right: 0;
	top: 25%;
	margin: auto;
	width: 400px;
}

.loginLogo h1 {
	display: inline;
}

.tagcloud a {
	text-decoration: none;
	color: #e9f4e7;
	font-weight: normal;
}

.tagcloud span.badge {
	background-color: #2b4d23;
	margin-bottom: 2px;
}

.tagcloud span.selected {
	background-color: #5ba74a;
}

.selectedUser {
	background-color: #48a2c5;
	color: #c9e3ee;
	margin-top: 5px;
	margin-right: 5px;
}

.selectedUser span.userIcon {
	font-size: 120%;
}

.selectedUser span.deleteIcon {
	font-size: 80%;
	cursor: pointer;
}

.shareBitsOnly {
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	margin-bottom: 0;
}

.shareBitsOnly input[type="checkbox"] {
	display: none;
}

.shareBitsOnly label.selectable {
	font-weight: normal;
}

.shareBitsOnly label.selected {
	color: #5BA74A;
}

ul.episodeListing {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
	border: 1px solid rgb(221, 221, 221);
}

ul.episodeListing li {
    cursor: pointer;
	margin: 10px 10px 10px 10px;
}

ul.episodeListing img {
	border: 1px solid rgb(221, 221, 221);
}

ul.episodeListing .episodeLabel {
    display: inline-block;
    cursor: pointer;
	min-height: 50px;
	margin-left: 10px;
	max-width: 150px;
}

table td.withPadding {
	padding-left: 5px;
}

label.notBoldLabel {
	font-weight: normal;
}

#systemMessages {
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 998;
}

.systemMessages {
	padding-right: 5px !important;
}

.systemMessagesToolbarOpen {
	padding-right: 335px !important;
}

.ajaxLoader {
	position: relative;
}

.widgetHidden {
	display: none;
}

.circleRenameAutoComplete {
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}

.organizeWidget {
	position: relative;
}

.organizeOverlay {
	/* XXX NEEDS BROWSER SPECIFIC PREFIXES */
	width: calc(100% - 20px);
	height: 400px;
	background-color: gray;
	position: absolute;
	top: 19px;
	left: 0;
	opacity: .55;
	margin-left: 10px;
	padding-right: 10px;
}

.organizeOverlay button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
}
